.container {
  display: block;
  margin: auto;
  padding: 2rem 4rem;
  max-width: 1200px;
}

.active {
  border-bottom: 2px solid red;
  font-weight: 500;
}

@media screen and (max-width: 991px) {
  .container {
    padding: 2rem;
  }
}

@media screen and (max-width: 450px) {
  .container {
    padding: 1rem;
  }
}
